/* ####################################### Navition Bar ####################################### */
/* ####################################### Navition Bar ####################################### */
/* ####################################### Navition Bar ####################################### */

.navbar {
    position: sticky;
    top: 0px;
    height: 4em;
    width: 100vw;
    background-color: rgb(255, 255, 255);
    z-index: 9999;
}
.navbar-list {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}
.navbar-list li {
    display: inline;
    vertical-align: middle;
}
.navbar-list a {
    font-size: 12pt;
    text-decoration: none;
    color: #878787;
    margin-right: 1.5em;
}
.home-icon {
    position: sticky;
    height: 1.3em;
    fill: #878787;
    margin-right: 1em;
}
.home-icon:hover {
    fill: rgb(54, 54, 54);
    transition: fill 150ms linear;
}
.navbar-list a:hover {
    color: rgb(54, 54, 54);
    transition: color 150ms linear;
}

/* ###### Too Small ###### */
@media screen and (max-width: 250pt){
    .navbar {
        display: none;
    }
}

/* ####################################### Default Values ####################################### */
/* ####################################### Default Values ####################################### */
/* ####################################### Default Values ####################################### */


body {
    display: flex;
    flex-direction: column;
    flex-shrink: 1;

    align-items: center;

    font-family: 'Inter', sans-serif;
    /* font-family: "SF Pro", Arial, sans-serif; */

    background-color: rgb(255, 255, 255);
    background-size: cover;
}

p {
    font-family: 'Inter', sans-serif;
    /* font-family: "SF Pro", Arial, sans-serif; */
}

/* ####################################### Index ####################################### */
/* ####################################### Index ####################################### */
/* ####################################### Index ####################################### */

.pf {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    margin-top: -2em;
    margin-left: auto;
    margin-right: auto;
    /* background-color: #c4acac; */
    
}

.pf-img {

    /* background-color: red; */
}

.pf-img1 {
    width: 30em;
    border-radius: 10%;
    align-items: center;
}

.pf-text {
    display: flex;
    flex-direction: column;
    color: #6b6b6b;
    font-size: 48pt;
    font-style: normal;
    text-align: center;
    /* background-color: blue; */
}

.pf-text0 {
    margin-bottom: -2em;
    font-size: 24pt;
}

.pf-text1 {
    margin-bottom: -.25em;
}

.pf-text b {
    /* background: -webkit-linear-gradient(45deg, rgb(89, 150, 188), rgb(97, 113, 190), rgb(162, 105, 195), rgb(196, 96, 128)); */
    background: -webkit-linear-gradient(45deg, rgb(223, 196, 119), rgb(226, 127, 92), rgb(191, 103, 180), rgb(104, 121, 179));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.pf-text2 {
    font-size: 16pt;
}

@media screen and (max-width: 800pt){
    .pf {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 30em;
        height: auto;
        margin: auto;
    }
    .pf-img {
        margin-top: 0;
        margin-right: 0em;
    }
    .pf-img1 {
        margin-bottom: -3em;
        width: 20em;
    }
    .pf-text {
        text-align: center;
        margin-top: 0;
    }

}

/* ###### Too Small ###### */
@media screen and (max-width: 400pt){

}

/* ####################################### Projects ####################################### */
/* ####################################### Projects ####################################### */
/* ####################################### Projects ####################################### */

.projects {
    display: flex;
    flex-direction: column;
}
.set1 {
    margin-top: 20px;
    margin-bottom: 50px;
    display: flex;
    flex: row;
}

.set2 {
    margin-top: 20px;
    margin-bottom: 50px;
    display: flex;
    flex: row;
}

/* ################ Projects/ad ################ */
/* ################ Projects/ad ################ */

.ad {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    overflow: hidden;
    width: 600px;
    height: 800px;
    margin-right: 50px;
    border-radius: 25px;
    background-color: rgb(40, 40, 40);
}

.ad-img {
    scale: 2;
    margin-top: 100px;
    margin-left: -700px;
    width: inherit;
    vertical-align: bottom;
}

.ad-img1 {
    width: inherit;
    margin-top: -3em;
    /* background-color: cyan; */
    vertical-align: bottom;
}

.ad-shade {
    height: 300px;
    width: 600px;
    margin-bottom: -300px;
    margin-left: -100px;
    align-self: center;
    opacity: 1;
    /* background-color: red; */
    background: linear-gradient(rgba(0, 0, 0, 0.55), rgba(240, 240, 240, 0));
    z-index: 5;
}

.ad-text {
    flex-direction: column;
    width: 400px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding-left: 5em;
    padding-right: 5em;
    padding-bottom: 2em;
    z-index: 1;
    /* background-color: beige; */
}

.ad-text1 {
    color: #ffffff;
    font-size: 35pt;
    font-weight: bold;
    margin-bottom: 0em;
    width: fit-content;
    /* background-color: red; */
}

.ad-text2 {
    color: #d8d8d8;
    font-size: 15pt;
    font-weight: 600;
    width: inherit;
    margin-top: 0em;
    /* background-color: blue; */
}

.ad-text3 {
    font-size: 15pt;
    font-weight: 400;
    text-decoration: none;
    margin-top: 0em;
    margin-bottom: 0em;
    color: rgb(255, 136, 0);
    /* background: green; */
}

.ad:hover .ad-img1{
    scale: 1.15;
    margin-top: 100px;
    margin-left: 330px;
    transition: scale 1000ms ease-in-out, margin-top 1000ms ease-in-out, margin-left 1000ms ease-in-out;
    z-index: 0;
}


@media screen and (max-width: 500pt){
    .ad {
        overflow: hidden;
    }
    .ad-img1 {
        scale: .9;
    }
    .ad-text {
    }
    .ad-text1 {
        text-align: center;
    }
    .ad-text2 {
        display: none;
    }
    .ad-text3 {
    }
}

/* ################ Projects/cl ################ */
/* ################ Projects/cl ################ */


.cl {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 600px;
    height: 800px;
    border-radius: 25px;
    background-color: rgb(240, 240, 240);
}

.cl-shade {
    height: 300px;
    width: 600px;
    margin-bottom: -300px;
    align-self: center;
    opacity: .65;
    background: linear-gradient(rgba(0, 0, 0, 0.15), rgba(240, 240, 240, 0));
    z-index: -1;
}

.cl-img {
    /* background-color: red; */
    width: inherit;
    z-index: 0;
}

.cl-img1 {
    /* background-color: rgb(31, 31, 31); */
    width: inherit;
    margin-top: 100px;
    margin-left: 125px;
    rotate: 9.6deg;
    scale: 1.65;
}

.cl-text {
    display: flex;
    flex-direction: column;
    padding-right: 5em;
    padding-left: 5em;
    height: fit-content;
    width: 500px;
    align-self: center;
    z-index: 2;
    /* background-color: green; */
}

.cl-text1 {
    color: black;
    font-size: 35pt;
    font-weight: bold;
    text-align: center;
    margin-bottom: 0em;
    /* background-color: red; */
}

.cl-text2 {
    color: #474747;
    font-size: 15pt;
    font-weight: 600;
    width: 100%;
    text-align: center;
    /* align-self: center; */
    margin-top: 0em;
    /* background-color: blue; */
}

.cl-text3 {
    color: rgb(255, 136, 0);
    font-size: 15pt;
    font-weight: 400;
    text-decoration: none;
    align-self: center;
    text-align: center;
    width: max-content;
    margin-top: 0em;
    /* background-color: cyan; */
}

.cl:hover .cl-img1{
    scale: 1.7;
    transition: scale 1000ms ease-in-out;
    z-index: 1;
}


@media screen and (max-width: 500pt){
    .cl-img1 {
        scale: 1.1;
        width: 32em;
    }
    .cl-text {
        align-items: center;
    }
    .cl-text1 {
        text-align: center;
    }
    .cl-text2 {
        display: none;
    }
    .cl-text3 {
        margin-top: 1em;
        text-align: center;
    }
}

/* ################ CONTENT: PROJECTS | Project3 ################ */

/* ################ Projects/am ################ */
/* ################ Projects/am ################ */

.am {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    overflow: hidden;
    width: 600px;
    height: 800px;
    margin-right: 50px;
    border-radius: 25px;
    background-color: rgb(240, 240, 240);
}

.am-img {
    scale: 2;
    margin-top: 100px;
    margin-left: -700px;
    width: inherit;
    vertical-align: bottom;
}

.am-img1 {
    width: inherit;
    margin-top: -3em;
    /* background-color: cyan; */
    vertical-align: bottom;
}

.am-shade {
    height: 300px;
    width: 600px;
    margin-bottom: -300px;
    margin-left: -100px;
    align-self: center;
    opacity: 1;
    /* background-color: red; */
    background: linear-gradient(rgba(0, 0, 0, 0.55), rgba(240, 240, 240, 0));
    z-index: 5;
}

.am-text {
    flex-direction: column;
    width: 400px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding-left: 5em;
    padding-right: 5em;
    padding-bottom: 2em;
    z-index: 1;
    /* background-color: beige; */
}

.am-text1 {
    color: #ffffff;
    font-size: 35pt;
    font-weight: bold;
    margin-bottom: 0em;
    width: fit-content;
    /* background-color: red; */
}

.am-text2 {
    color: #d8d8d8;
    font-size: 15pt;
    font-weight: 600;
    width: inherit;
    margin-top: 0em;
    /* background-color: blue; */
}

.am-text3 {
    font-size: 15pt;
    font-weight: 400;
    text-decoration: none;
    margin-top: 0em;
    margin-bottom: 0em;
    color: rgb(255, 136, 0);
    /* background: green; */
}

.am:hover .am-img1{
    scale: 1.15;
    margin-top: 100px;
    margin-left: 330px;
    transition: scale 1000ms ease-in-out, margin-top 1000ms ease-in-out, margin-left 1000ms ease-in-out;
    z-index: 0;
}

/* ################ Projects/swe ################ */
/* ################ Projects/swe ################ */

.swe {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    overflow: hidden;
    width: 600px;
    height: 800px;
    margin-right: 50px;
    border-radius: 25px;
    background-color: rgb(240, 240, 240);
}

.swe-img {
    scale: 2;
    margin-top: 100px;
    margin-left: -700px;
    width: inherit;
    vertical-align: bottom;
}

.swe-img1 {
    width: inherit;
    margin-top: -3em;
    /* background-color: cyan; */
    vertical-align: bottom;
}

.swe-shade {
    height: 300px;
    width: 600px;
    margin-bottom: -300px;
    margin-left: -100px;
    align-self: center;
    opacity: 1;
    /* background-color: red; */
    background: linear-gradient(rgba(0, 0, 0, 0.55), rgba(240, 240, 240, 0));
    z-index: 5;
}

.swe-text {
    flex-direction: column;
    width: 400px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding-left: 5em;
    padding-right: 5em;
    padding-bottom: 2em;
    z-index: 1;
    /* background-color: beige; */
}

.swe-text1 {
    color: #ffffff;
    font-size: 35pt;
    font-weight: bold;
    margin-bottom: 0em;
    width: fit-content;
    /* background-color: red; */
}

.swe-text2 {
    color: #d8d8d8;
    font-size: 15pt;
    font-weight: 600;
    width: inherit;
    margin-top: 0em;
    /* background-color: blue; */
}

.swe-text3 {
    font-size: 15pt;
    font-weight: 400;
    text-decoration: none;
    margin-top: 0em;
    margin-bottom: 0em;
    color: rgb(255, 136, 0);
    /* background: green; */
}

.swe:hover .swe-img1{
    scale: 1.15;
    margin-top: 100px;
    margin-left: 330px;
    transition: scale 1000ms ease-in-out, margin-top 1000ms ease-in-out, margin-left 1000ms ease-in-out;
    z-index: 0;
}
