/* ####################################### Navigation Bar ####################################### */
/* ####################################### Navigation Bar ####################################### */
/* ####################################### Navigation Bar ####################################### */

.navbar {
    position: fixed;
    height: 60px;
    width: 100vw;
    top: 0px;
    background-color: rgb(255, 255, 255, .95);
    z-index: 9999;
}
.navbar-list {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}
.navbar-list li {
    display: inline;
    vertical-align: middle;
}
.navbar-list a {
    font-size: 11pt;
    text-decoration: none;
    color: #737373;
    margin-right: 1.5em;
}
.home-icon {
    position: sticky;
    height: 1em;
    fill: #444444;
    margin-top: 1px;
    margin-right: 1em;
    /* background-color: red; */
}

.home-icon:hover {
    fill: rgb(54, 54, 54);
    transition: fill 150ms linear;
}
.navbar-list a:hover {
    color: rgb(54, 54, 54);
    transition: color 150ms linear;
}

/* ###### Too Small ###### */
@media screen and (max-width: 250pt){
    .navbar {
        display: none;
    }
}

/* ####################################### Default Values ####################################### */

body {
    display: flex;
    flex-direction: column;
    flex-shrink: 1;
    align-items: center;
    font-family: 'Inter', sans-serif;
    overflow-x: hidden;
    /* font-family: "SF Pro", Arial, sans-serif; */

    background-color: rgb(255, 255, 255);
    background-size: cover;
}

p {
    font-family: 'Inter', sans-serif;
    /* font-family: "SF Pro", Arial, sans-serif; */
}

/* ####################################### Projects Values ####################################### */

.project-page {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 1500px;
}