

#mymaestro-banner-container {
    height: 400px;
    margin-top: 0px;
    margin-bottom: 0px;
    /* background-color: red; */

}

#mymaestro-banner-img1 {
    height: 800px;
    width: auto;
    padding-top: 00px;
    margin-top: -200px;
    margin-left: -1200px;
    margin-right: auto;
    margin-bottom: 00px;
    /* background-color: rgb(240,240,240); */
}

#mymaestro-section1-img1 {
    width: inherit;
}
#mymaestro-section2-img1 {
    width: inherit;
}
#mymaestro-section3-img1 {
    width: inherit;
}