#craigslist-banner-img1 {
    filter: brightness( ) saturate(0) hue-rotate(-30deg);
}

#craigslist-section1-img1-container {
    display: flex;
    height: 700px;
    width: 700px;
    perspective: 1000px;
    /* background-color: red; */
    overflow: visible;
}
#craigslist-section1-img1 {
    width: fit-content;
    /* transform: skew(0deg,0deg); */
    transform-origin: top left; 
    transform: perspective(1000px) rotateX(0deg) rotateY(0deg);
    margin-left: auto;
    margin-right: auto;
}

#craigslist-section1-txt-title,
#craigslist-section2-txt-title,
#craigslist-section3-txt-title {
    color: rgb(40,40,40);
}

#craigslist-section1-txt1,
#craigslist-section1-txt2,
#craigslist-section2-txt1,
#craigslist-section2-txt2,
#craigslist-section3-txt1,
#craigslist-section3-txt2 {
    color: rgb(65,65,65);
}