/* ####################################### Index ####################################### */
/* ####################################### Index ####################################### */
/* ####################################### Index ####################################### */
.main-content {
    scale: .9;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    padding: 0px 10px;
    /* background-color: rgba(240, 240, 240, 1); */
    /* border: 2px solid rgb(230, 230, 230); */
    border-radius: 10px;

}

.pf {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    width: 700px;
    margin-top: auto;
    margin-bottom: auto;
    /* background-color: rgba(255, 0, 0, 0.5); */
}

.pf-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    height: 150px;
    width: 150px;
    /* background-color: rgb(210, 210, 210); */
    background-color: rgba(245, 245, 245, 1);
    border: 2px solid rgb(225, 225, 225);
    border-radius: 9999px;
    overflow: hidden;
    z-index: 5;
}

.pf-img1 {
    height: 150px;
    width: 150px;
}

.pf-text {
    display: flex;
    flex-direction: column;
    color: rgb(100,100,100);
    font-style: normal;
    text-align: center;
    margin-bottom: -20px;
}

.pf-text0 {
    display: none;
    font-size: 20pt;
    margin-top: 0px;
    margin-bottom: 0px;
}

.pf-text1 {
    font-size: 20pt;
    margin-top: 0px;
    margin-bottom: 0em;
}

.pf-text2 {
    /* display: none; */
    /* font-family: 'Playfair Display', serif; */
    color: rgb(100, 100, 100);
    font-size: 12pt;
    max-width: 400px;
    margin-top: 15px;
    margin-bottom: 40px;
}

.pf-note {
    /* font-family: 'Playfair Display', serif; */
    color: rgb(140, 140, 140);
    text-align: center;
    font-size: 8pt;
    max-width: 275px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -10px;
    /* background-color: red; */
  }

#pf-name {
    color: rgb(75,75,75);
    font-size: 48pt;
    font-family: 'Cedarville Cursive';
    font-weight: 1000;
    /* background: -webkit-linear-gradient(0deg, rgb(217, 121, 146), rgb(213, 143, 58)); */
    /* -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
}

.pf-contact {
    display: block;
    flex: row;
}
.pf-icon {
    height: 30px;
    width: auto;
    margin-top: px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 4px;
    filter: saturate(0) brightness(3.5);
}

@media screen and (max-width: 600pt){
    .main-content {
        flex-direction: column;
        width: 350px;
    }
    .pf {
        padding-top: 100px;
        width: 300px;
        margin-left: auto;
        margin-right: auto;
    }
    .pf-img {
        max-width: 150px;
    }

    .pf-img1 {
        width: 150px;
    }
    .pf-text {
        display: flex;
        flex-direction: column;
        color: rgb(100,100,100);
        width: 250px;
        margin-bottom: -20px;
    }
    .pf-text1 {
        font-size: 10pt;
        width: inherit;
        margin-top: 10px;

    }
    .pf-text2 {
        color: rgb(100, 100, 100);
        font-size: 10pt;
        width: inherit;
        margin-top: 5px;
        margin-bottom: 30px;
    }
    .pf-note {
        color: rgb(140, 140, 140);
        text-align: center;
        font-size: 11pt;
        height: fit-content;
        max-width: 200px;
        margin-top: 10px;
      }

    #pf-name {
        color: rgb(75,75,75);
        font-size: 28pt;
        font-family: 'Cedarville Cursive';
        font-weight: 1000;
        /* background: -webkit-linear-gradient(0deg, rgb(217, 121, 146), rgb(213, 143, 58)); */
        /* -webkit-background-clip: text;
        -webkit-text-fill-color: transparent; */
    }
    .pf-img {
        width: 400px;
    }
    .pf-note {
        font-size: 7pt;
        width: 400px;
    }
    .pf-icon {
    }
}
