.project-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
}

.project-banner-container {
    height: auto;
    width: 1920px;
    overflow: hidden;
}
.project-banner-img1 {
    position: fixed;
    height: inherit;
    width: inherit;
    object-fit: cover;
    z-index: -1;
}

.project-section1 {
    display: flex;
    flex-direction: row;
    width: fit-content;
    margin-top: 100px;
    margin-bottom: 250px;
    background-color: rgb(240, 240, 240);
}

.project-section1-img1-container {
    height: auto;
    max-height: 600px;
    width: 600px;
    margin-right: 25px;
    overflow: hidden;
}
.project-section1-img1 {
    object-fit: cover;
}

.project-section1-txt-container {
    width: 600px;
    display: flex;
    flex-direction: column;
    margin-top: auto;
    margin-right: 25px;
    margin-bottom: auto;
}
.project-section1-txt-title {
    width: fit-content;
    max-width: 500px;
    text-align: center;
    font-size: 45pt;
    font-weight: bold;
    color: rgb(40,40,40);
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}
.project-section1-txt1 {
    color: rgb(40,40,40);
    font-size: 13pt;
    width: fit-content;
    width: 450px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}
.project-section1-txt2 {
    color: rgb(40,40,40);
    font-size: 13pt;
    width: fit-content;
    width: 450px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
}


.project-section2 {
    display: flex;
    flex-direction: row;
    width: fit-content;
    padding-left: 0vw;
    padding-right: 0vw;
    margin-top: 250px;
    margin-bottom: 250px;
    /* background-color: rgb(240, 240, 240); */
}
.project-section2-img1-container {
    height: auto;
    max-height: 600px;
    width: 600px;
    margin-left: 25px;
    overflow: hidden;
}
.project-section2-img1 {
    width: 600px;
    object-fit: cover;
}

.project-section2-txt-container {
    width: 600px;
    display: flex;
    flex-direction: column;
    margin-top: auto;
    margin-left: 25px;
    margin-bottom: auto;
}
.project-section2-txt-title {
    width: fit-content;
    max-width: 500px;
    text-align: center;
    font-size: 45pt;
    font-weight: bold;
    color: rgb(40,40,40);
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}
.project-section2-txt1 {
    color: rgb(40,40,40);
    font-size: 13pt;
    width: fit-content;
    width: 450px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}
.project-section2-txt2 {
    color: rgb(40,40,40);
    font-size: 13pt;
    width: fit-content;
    width: 450px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
}

.project-section3 {
    display: flex;
    flex-direction: row;
    width: fit-content;
    margin-top: 250px;
    margin-bottom: 250px;
    background-color: rgb(240, 240, 240);
}

.project-section3-img1-container {
    height: auto;
    max-height: 600px;
    width: 600px;
    margin-right: 25px;
    overflow: hidden;
}
.project-section3-img1 {
    object-fit: cover;
}

.project-section3-txt-container {
    width: 600px;
    display: flex;
    flex-direction: column;
    margin-top: auto;
    margin-right: 25px;
    margin-bottom: auto;
}
.project-section3-txt-title {
    width: fit-content;
    max-width: 500px;
    text-align: center;
    font-size: 45pt;
    font-weight: bold;
    color: rgb(40,40,40);
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}
.project-section3-txt1 {
    color: rgb(40,40,40);
    font-size: 13pt;
    width: fit-content;
    width: 450px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}
.project-section3-txt2 {
    color: rgb(40,40,40);
    font-size: 13pt;
    width: fit-content;
    width: 450px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
}