/* ####################################### Projects ####################################### */
/* ####################################### Projects ####################################### */
/* ####################################### Projects ####################################### */

.projects {
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: fit-content;
    margin-top: auto;
    margin-bottom: auto;
}

.section-title {
    display: none;
    /* font-family: 'Playfair Display', serif; */
    font-size: 48pt;
    font-weight: 500;
    text-align: center;
    height: fit-content;
    width: 80vw;
    padding-top: 50px;
    padding-left: 50vw;
    padding-right: 50vw;
    padding-bottom: 50px;
    /* margin-left: 10px;
    margin-right: 10px; */
    margin-bottom: 0px;
    background-color: rgb(240, 240, 240);
    /* background-color: cyan; */
    border-radius: 15px;
    color: rgb(50, 50, 50);
}
#projects-banner-container {
    display: flex;
    flex-direction: row;    
    margin-bottom: -100px;
    overflow: hidden;
    height: 500px;
    width: auto;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 00px;
    /* background-color: red; */
}
#projects-banner {
    height: 900px;
    width: auto;
    margin-top: -200px;
    margin-right: 100px;
    padding-left: 50px;
    object-fit: cover;
    animation: txtAnim2 2s ease-in-out;
}
#projects-banner-txt {
    /* font-family: 'Playfair Display', serif; */
    color: rgb(70,70,70);
    font-size: 100px;
    font-weight: 600;
    width: min-content;
    max-width: 1000px;
    margin-top: auto;
    margin-bottom: auto;
    padding-right: 50px;
    animation: txtAnim3 2s ease-in-out;
}
@keyframes txtAnim2 {
    from {
      margin-top: -600px;
    }
    to {
      margin-top: -200px;
    }
  }
  @keyframes txtAnim3 {
    from {
        padding-top: 600px;
    }
    to {
        padding-top: 0px;
    }
  }
.set1,
.set2 {
    display: flex;
    flex-direction: row;
    width: fit-content;
    margin-top: 0px;
    margin-bottom: 0px;
    /* background-color: blue; */
}

.project-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    width: 350px;
    height: 400px;
    /* background-color: aquamarine; */
}

.img {
    width: inherit;
    vertical-align: bottom;
}
.img1 {
    width: inherit;
    vertical-align: bottom;
}
.txt {
    flex-direction: column;
    width: 350px;
    align-items: center;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 25px;
    z-index: 1;
    /* background-color: rgb(245, 220, 220); */
}
.txt1 {
    /* font-family: 'Playfair Display', serif; */
    color: rgba(0, 0, 0, .55);
    font-size: 36pt;
    font-weight: 600;
    text-align: center;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    /* background-color: red; */
}
.txt2 {
    /* font-family: 'Playfair Display', serif; */
    font-size: 11pt;
    font-weight: 400;
    text-align: center;
    width: 250px;
    margin-top: 0em;
    margin-left: auto;
    margin-right: auto;
    /* background-color: blue; */
}
.txt3 {
    text-decoration: none;
}
.link-center {
    display: flex;
    flex-direction: row;
}
.left-lc {
    flex-grow: 1;
    /* background-color: red; */
}
.right-lc {
    flex-grow: 1;
    /* background-color: red; */
}
@media screen and (max-width: 1000px){
    #projects-banner-txt {
        display: none;
    }
    #projects-banner-container {
        height: 400px;
        margin-top: 50px;
    }
    #projects-banner {
        height: auto;
        width: 95vw;
        margin-right: 0px;
        padding-left: 0px;
        margin-top: -0px;
        animation: txtAnim2 2s ease-in-out;
    }
    #section-title {
        font-size: 36pt;
    }
    @keyframes txtAnim2 {
        from {
          margin-top: -600px;
        }
        to {
          margin-top: 0px;
        }
      }
    .set1,
    .set2 {
        flex-direction: column;
        padding-top: 25px;
        padding-bottom: 25px;
    }
    .project-container {
    }
    #section-title {
        max-width: 600px;
        padding-top: 75px;
    }
}
/* ################ Projects/ad ################ */
/* ################ Projects/ad ################ */

#ad {
    /* background: linear-gradient(45deg, rgb(59, 2, 74), rgb(113, 55, 113), rgb(198, 94, 130)); */
    background-color: #ae7399;
}

#img-ad {
    scale: .9;
    margin-top: -10px;
    margin-left: 0px;
    width: inherit;
    vertical-align: bottom;
}

#img1-ad {
    scale: 1.4; 
    width: inherit;
    margin-top: 100px;
    transform: skew(0deg, 7.5deg);
    /* background-color: cyan; */
    vertical-align: bottom;
}

#txt-ad {
}

#txt1-ad {
    /* color: rgb(50, 50, 50); */
}

#txt2-ad {
    color: rgb(240,240,240);
    /* color: rgb(50, 50, 50); */
}

#txt3-ad {
    color: white;
}

#ad:hover #img1-ad{
    scale: .975;
    margin-top: -30px;
    transform: skew(0deg, 0deg);
    transition: scale 1000ms ease-in-out, margin-top 1000ms ease-in-out, transform 1000ms ease-in-out;
}
#ad:hover {
    background-color: #ab5f91;
    transition: background-color 750ms ease-in-out;
}

/* CL */

#cl {
    background-color: rgb(126, 94, 167);
}
#img-cl {
    margin-top: 25px;
}
#img1-cl {
}
#img1-cl {
    margin-top: 50px;
    margin-left: 0px;
    rotate: 0deg;
    scale: 1.5;
    transform: skew(0deg, 0deg) rotateX(50deg);
}
#txt-cl {
}
#txt1-cl {
    /* color: rgb(50, 50, 50); */
    /* background-color: red; */
}
#txt2-cl {
    color: rgb(240, 240, 240);
    /* color: rgb(75, 75, 75); */
    /* background-color: blue; */
}
#txt3-cl {
    color: rgb(240, 240, 240);
    /* color: rgb(50, 50, 50); */
}
#cl:hover #img1-cl {
    scale: 2;
    margin-top: 60px;
    margin-left: 95px;
    transform: skew(20deg, 0deg) rotateX(0deg) rotate(0deg);
    transition: scale 1000ms ease-in-out, margin-top 1000ms ease-in-out, margin-left 1000ms ease-in-out, 1000ms ease-in-out;
    z-index: 1;
}
#cl:hover {
    background-color: rgb(96, 65, 136);

    transition: background-color 750ms ease-in-out;
}


@media screen and (max-width: 500pt){
    .cl-img1 {
        scale: 1.1;
        width: 32em;
    }
    .cl-text {
        align-items: center;
    }
    .cl-text1 {
        text-align: center;
    }
    .cl-text2 {
        display: none;
    }
    .cl-text3 {
        margin-top: 1em;
        text-align: center;
    }
}

/* ################ CONTENT: PROJECTS | Project3 ################ */

/* ################ Projects/am ################ */
/* ################ Projects/am ################ */

#am {
    /* background: linear-gradient(45deg, rgb(182, 187, 192), rgb(225, 229, 232)) */
    background-color: #6b84b5;
}

#img-am {
    height: inherit;
    width: inherit;

}

#img1-am {
    position: relative;
    scale: 1;
    height: inherit;
    width: auto;
    margin-top: 20px;
    margin-left: 50px;
    transform: skew(0deg, 10deg);
    z-index: 2;
    /* background-color: cyan; */
}

#txt-am {
    /* background-color: beige; */
}

#txt1-am {
    /* background-color: red; */
}

#txt2-am {
    color: rgb(240, 240, 240);
    /* background-color: blue; */
}

#txt3-am {
    color: rgb(240, 240, 240);
}

#am:hover #img1-am {
    scale: 1.2;
    margin-top: 20px;
    margin-left: 50px;
    transform: skew(0deg, 00deg);
    transition: scale 1000ms ease-in-out, margin-top 1000ms ease-in-out, margin-left 1000ms ease-in-out, 1000ms ease-in-out;
}
#am:hover {
    background-color: #4665a1;
    transition: background-color 750ms ease-in-out;
}

/* ################ Projects/swe ################ */
/* ################ Projects/swe ################ */

#swe {
    /* background: linear-gradient(45deg, rgb(192, 182, 182), rgb(232, 225, 225)) */
    background-color: #699cb9;
}

#img-swe {
    scale: .6;
}
#img1-swe {
    position: relative;
    width: 200px;
    margin-top: -100px;
    margin-left: 50px;
    margin-bottom: 90px;
    transform: skew(10deg, 0deg) perspective(2000px) rotateX(40deg) rotateY(40deg);
    z-index: 3;
}
#img2-swe {
    position: relative;
    width: 200px;
    margin-top: -1300px;
    margin-left: 200px;
    margin-bottom: 0px;
    transform: skew(-10deg, 0deg) perspective(2000px) rotateX(60deg) rotateY(-40deg);
    filter:brightness(.966);
    z-index: 2;
}
#img3-swe {
    position: relative;
    width: 180px;
    margin-top: -1300px;
    margin-left: 100px;
    margin-bottom: -100px;
    transform: skew(40deg, 0deg) perspective(2000px) rotateX(50deg) rotateY(20deg);
    filter:brightness(.933);
    z-index: 1;
}

#txt1-swe {
}
#txt2-swe {
    color: rgb(240, 240, 240);
}
#txt3-swe {
    color: rgb(240, 240, 240);
}

#swe:hover #img1-swe {
    width: 300px;
    margin-top: -100px;
    margin-left: 20px;
    transform: none;
    transition: margin-bottom 1000ms ease-in-out, width 1000ms ease-in-out, margin-top 1000ms ease-in-out, margin-left 1000ms ease-in-out, transform 1000ms ease-in-out;
}
#swe:hover #img2-swe {
    width: 300px;
    margin-top: -1300px;
    margin-left: 120px;
    margin-bottom: 80px;
    transform: rotate(5deg);
    transition: margin-bottom 1000ms ease-in-out, width 1000ms ease-in-out, margin-top 1000ms ease-in-out, margin-left 1000ms ease-in-out, transform 1000ms ease-in-out;
}
#swe:hover #img3-swe {
    width: 300px;
    margin-top: -1300px;
    margin-left: -70px;
    margin-bottom: 100px;
    transform: rotate(-5deg);
    transition: margin-bottom 1000ms ease-in-out, width 1000ms ease-in-out, margin-top 1000ms ease-in-out, margin-left 1000ms ease-in-out, transform 1000ms ease-in-out;
}
#swe:hover {
    background-color: #4684a9;
    transition: background-color 750ms ease-in-out;
}

@media screen and (max-width: 1000pt){
    .projects {
        width: fit-content;
    }
    .set1,
    .set2 {
        flex-direction: column;
    }
    .set1 {

    }



}