/* ####################################### Index ####################################### */
/* ####################################### Index ####################################### */
/* ####################################### Index ####################################### */

.pf {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    padding-top: 70px;
    /* background-color: #c4acac; */
}

.pf-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    width: fit-content;
    margin-top: 0px;
    margin-bottom: 0px;
    /* background-color: red; */
    z-index: 5;
}

.pf-img1 {
    height: auto;
    width: 400px;
    border-radius: 15px;
}

.pf-text {
    display: flex;
    flex-direction: column;
    color: rgb(100,100,100);
    font-style: normal;
    text-align: center;
    margin-bottom: -20px;
    /* background-color: blue; */
}

.pf-text0 {
    display: none;
    font-size: 20pt;
    margin-top: 0px;
    margin-bottom: 0px;
}

.pf-text1 {
    font-size: 20pt;
    margin-top: 0px;
    margin-bottom: 0em;
}

.pf-text2 {
    font-family: 'Playfair Display', serif;
    color: rgb(100, 100, 100);
    font-size: 14pt;
    margin-top: 15px;
    margin-bottom: 30px;
}

.pf-note {
    font-family: 'Playfair Display', serif;
    color: rgb(140, 140, 140);
    text-align: center;
    font-size: 10pt;
    max-width: 275px;
    margin-top: 10px;
    /* background-color: red; */
  }

#pf-name {
    color: rgb(75,75,75);
    font-size: 48pt;
    font-family: 'Cedarville Cursive';
    font-weight: 1000;
    /* background: -webkit-linear-gradient(0deg, rgb(217, 121, 146), rgb(213, 143, 58)); */
    /* -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
}

@media screen and (max-width: 1000pt){
    .pf-img {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: fit-content;
        width: fit-content;
        margin-top: 0px;
        margin-bottom: 0px;
        /* background-color: red; */
        z-index: 5;
    }
    
    .pf-img1 {
        height: auto;
        width: 275px;
        border-radius: 15px;
    }
    
    .pf-text {
        display: flex;
        flex-direction: column;
        color: rgb(100,100,100);
        font-style: normal;
        text-align: center;
        margin-bottom: -20px;
        /* background-color: blue; */
    }
    
    .pf-text0 {
        display: none;
        font-size: 20pt;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    
    .pf-text1 {
        font-size: 20pt;
        margin-top: 0px;
        margin-bottom: 0em;
    }
    
    .pf-text2 {
        color: rgb(100, 100, 100);
        font-size: 11pt;
        margin-top: 5px;
        margin-bottom: 30px;
    }
    
    .pf-note {
        color: rgb(140, 140, 140);
        text-align: center;
        font-size: 8pt;
        max-width: 275px;
        margin-top: 10px;
        /* background-color: red; */
      }
    
    #pf-name {
        color: rgb(75,75,75);
        font-size: 36pt;
        font-family: 'Cedarville Cursive';
        font-weight: 1000;
        /* background: -webkit-linear-gradient(0deg, rgb(217, 121, 146), rgb(213, 143, 58)); */
        /* -webkit-background-clip: text;
        -webkit-text-fill-color: transparent; */
    }
    .pf-img {
        width: 400px;
    }
    .pf-note {
        width: 400px;
    }

}
