.project-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
}

.project-banner-container {
    display: none;
    height: auto;
    width: 1500px;
    overflow: hidden;
}
.project-banner-img1 {
    position: fixed;
    height: 1920px;
    width: inherit;
    margin-top: -100px;
    object-fit: cover;
    /* background-color: red; */
    z-index: -1;
}

.project-section1,
.project-section2,
.project-section3 {
    display: flex;
    flex-direction: row;
    height: 300px;
    width: 900px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    background-color: rgb(240, 240, 240);
    border: 2px solid rgb(230, 230, 230);
    overflow: hidden;
}
.project-section1-img1-container,
.project-section2-img1-container,
.project-section3-img1-container {
    display: flex;
    height: 300px;
    width: 450px;
    margin-right: 0px;
    background-color: rgb(245, 245, 245);
    overflow: hidden;
}
.project-section1-img1,
.project-section2-img1,
.project-section3-img1 {
    scale: .7;
    height: auto;
    width: 450px;
    margin: auto;
    /* background-color: blue; */
}
.project-section1-txt-container,
.project-section2-txt-container,
.project-section3-txt-container {
    width: 450px;
    display: flex;
    flex-direction: column;
    margin: auto 10px;
    overflow: hidden;
    /* background-color: red; */
}
.project-section1-txt-title,
.project-section2-txt-title,
.project-section3-txt-title {
    display: inline-block;
    width: 350px;
    text-align: left;
    font-size: 25pt;
    font-weight: bold;
    color: rgb(40,40,40);
    margin: 0px auto;
    /* background-color: aliceblue; */
}
.project-section1-txt-stack,
.project-section2-txt-stack,
.project-section3-txt-stack {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 350px;
    margin: 0px auto;
    margin-top: 10px;
    /* background-color: aqua; */
    overflow: hidden;
}
.project-section1-txt-stack-element,
.project-section2-txt-stack-element,
.project-section3-txt-stack-element {
    /* color: rgb(20, 20, 20); */
    color: rgb(245, 245, 245);
    display: inline-block;
    font-size: 9pt;
    font-weight: 500;
    height: fit-content;
    margin-top: 0px;
    margin-bottom: 5px;
    margin-right: 5px;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: rgb(75, 75, 75);
    /* border-bottom: 1px solid rgb(230, 230, 230); */
    /* border-bottom: 2px solid rgb(20, 20, 20); */
}
.project-section1-txt1,
.project-section2-txt1,
.project-section3-txt1 {
    color: rgb(40,40,40);
    font-size: 13pt;
    width: 350px;
    margin: 5px auto;
    /* background-color: bisque; */
}