#cat-container {
    position: relative;
    height: 1000px;
    width: 1000px;
    /* background-color: red; */
    overflow: hidden;
}
#game-background {
    z-index: -1;
}
#cat-info {
    position: absolute;
    top: 50px;
    left: 50px;
}